---
layout: default_post
---
</div>

<header class="masthead" style="background-image: url('{{ "/img/posts/default.png" | prepend: site.baseurl | replace: '//', '/' }}')">  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>Publications</h1>
          <h2>Listed in reverse chronological order</h2>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
	
	<main role="main" class="container">
		<div class="row" style="margin-top: 0px;">
		    <div class="col-md-6">
		        <p class="text-left"><a href="https://scholar.google.com/citations?user=7S9hrMMAAAAJ&hl=en">Google Scholar</a></p>		        
		    </div>
		</div>
		
		
		{% assign preprints = site.preprints | sort: 'date' | reverse %}
		{% assign publications = site.publications | sort: 'date' | reverse %}
		{% assign reports = site.technical_reports | sort: 'date' | reverse %}
		
		<div class="row">
			<div class="col-md-12 blog-main">
				<h3 class="pb-3 mb-4 font-italic border-bottom" style="margin-top: 40px;"> Preprints</h3>
				<div class="blog-post">
		
					{% assign i = preprints.size %}
					
					{% for preprint in preprints  %}
					<div class="row pub-spacing">
				      <div class="col-1 col-md-1 text-center"><h1>{{i}}</h1></div>
				      <div class="col-5 col-md-1 text-center">
						<div class="altmetric-embed" data-badge-type="donut" data-altmetric-id="{{preprint.altmetric}}" /></div>
				      </div>
				      <div class="col-5 col-md-1 text-center">
				      	<span class="__dimensions_badge_embed__" data-doi="{{preprint.dimensions_doi}}" data-style="small_circle"></span>	
				      </div>          
				      <div class="col-12 col-md-9">
				      	<p>
					      	{% for person in preprint.authors %}
					      		{% if person == "J. West" %}
					      			<span style="text-decoration: underline;">{{ person }}</span>,
					      		{% else %}
					      			{{ person }},
					      		{% endif %}
				            {% endfor %}
					      	{{ preprint.date | date: '%Y' }}, <em>"{{preprint.paper}}."</em>
				          	{% if preprint.preprint_url %}
				          		<a href="{{preprint.preprint_url}}">Link to preprint.</a>
				          	{% endif %}
				          	<a download="{{preprint.title | downcase}}.pdf" href="./pdf/{{preprint.title | downcase}}.pdf" >Download the PDF.</a>
				         </p>		          	
				      </div>
				  	</div>
				    <hr>
				    
				    	{% assign i = i | plus:-1 %}
				    
				    {% endfor %}				    
				</div><!-- /.blog-post -->
				
				<h3 class="pb-3 mb-4 font-italic border-bottom" style="margin-top: 40px;"> Publications</h3>
				<div class="blog-post">
		
					{% assign i = publications.size %}
					
					{% for publication in publications  %}
					<div class="row pub-spacing">
				      <div class="col-1 col-md-1 text-center"><h1>{{i}}</h1></div>
				      <div class="col-5 col-md-1 text-center">
						<div class="altmetric-embed" data-badge-type="donut" data-altmetric-id="{{publication.altmetric}}" /></div>
				      </div>
				      <div class="col-5 col-md-1 text-center">
				      	<span class="__dimensions_badge_embed__" data-doi="{{publication.dimensions_doi}}" data-style="small_circle"></span>	
				      </div>          
				      <div class="col-12 col-md-9">
				      	<p>
					      	{% for person in publication.authors %}
					      		{% if person == "J. West" %}
					      			<span style="text-decoration: underline;">{{ person }}</span>,
					      		{% else %}
					      			{{ person }},
					      		{% endif %}
				            {% endfor %}
					      	{{ publication.date | date: '%Y' }}, <em>"{{publication.paper}}."</em>
					      	<strong>{{publication.journal}}</strong>.
				          	{% if publication.publication_url %}
				          		<a href="{{publication.publication_url}}">Link to publication.</a>
				          	{% endif %}
				          	
				          	{% if publication.preprint_url %}
				          		<a href="{{publication.preprint_url}}">Link to preprint.</a>
				          	{% endif %}
<!-- 				          	<a download="{{publication.title | downcase}}.pdf" href="./pdf/{{publication.title | downcase}}.pdf" >Download the PDF.</a> -->
				         </p>				          	
				      </div>
				  	</div>
				    <hr>
				    
				    	{% assign i = i | plus:-1 %}
				    
				    {% endfor %}
				    
				    
				</div><!-- /.blog-post -->	
				
				<h3 class="pb-3 mb-4 font-italic border-bottom" style="margin-top: 40px;">Technical Reports</h3>
				<div class="blog-post">
		
					{% assign i = reports.size %}
					
					{% for report in reports  %}
					<div class="row pub-spacing">
				      <div class="col-1 col-md-1 text-center"><h1>{{i}}</h1></div>
				      <div class="col-5 col-md-1 text-center">
						<div class="altmetric-embed" data-badge-type="donut" data-altmetric-id="{{report.altmetric}}" /></div>
				      </div>
				      <div class="col-5 col-md-1 text-center">
				      	<span class="__dimensions_badge_embed__" data-doi="{{report.dimensions_doi}}" data-style="small_circle"></span>	
				      </div>          
				      <div class="col-12 col-md-9">
				      	<p>
					      	{% for person in report.authors %}
					      		{% if person == "J. West" %}
					      			<span style="text-decoration: underline;">{{ person }}</span>,
					      		{% else %}
					      			{{ person }},
					      		{% endif %}
				            {% endfor %}
					      	{{ report.date | date: '%Y' }}, <em>"{{report.paper}}."</em>
					      	<strong>{{report.journal}}</strong>.
					      	{% if report.url %}
				          		<a href="{{report.publication_url}}">Link to paper.</a>
				          	{% endif %}
				          	<a download="{{report.title | downcase}}.pdf" href="./pdf/{{report.title | downcase}}.pdf" >Download the PDF.</a>
				         </p>				          	
				      </div>
				  	</div>
				    <hr>
				    
				    	{% assign i = i | plus:-1 %}
				    
				    {% endfor %}
				    
				    
				</div><!-- /.blog-post -->	
							
			</div><!-- /.blog-main -->	
		</div><!-- /.row -->
		
		
		
	</main><!-- /.container --> 
</div>


