
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
<!--
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
-->
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
	      <div class="carousel-caption text-left">
		      <div class="row">
					  <div class="col-lg-8">
<!-- 						  <h2>The Gospel According to God</h2>						   -->
<!-- 			        <h4>John MacArthur</h4> -->
							<h2>{{ page.book_title }}</h2>
							<h4>{{ page.book_author }}</h4>
			        <p>"{{ page.book_desc }}""</p>
			        <p><a class="btn btn-lg btn-buy" href="{{ page.book_link }}" role="button">Buy the book</a></p>
					  </div>
					  <div class="col-lg-4">
							<a href="https://www.amazon.com/gp/product/1433549573/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1433549573&linkCode=as2&tag=jeffreywest-20&linkId=697b4aad8408c99cb017f698d5197ee2">
							  	<img class="card-img-top book" src="{{ page.book_img  | prepend: site.baseurl | replace: '//', '/' }}" alt="Book 1 image">
							</a>	
					  </div>
	      	</div>
	      </div>
      </div>
    </div>
<!--
    <div class="carousel-item">
      <div class="container">
	      <div class="carousel-caption text-left">
		      <div class="row">
					  <div class="col-lg-8">
						  <h2>Tactics</h2>
			        <h4>Greg Koukl</h4>
			        <p>"In Tactics, Gregory Koukl demonstrates how to artfully regain control of conversations, keeping them moving forward in constructive ways through thoughtful diplomacy. You'll learn how to maneuver comfortably and graciously through the minefields of a challenging discussion, how to stop challengers in their tracks, and how to turn the tables on question or provocative statement."</p>
							<p><a class="btn btn-lg btn-buy" href="https://www.amazon.com/gp/product/0310282926/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0310282926&linkCode=as2&tag=jeffreywest-20&linkId=c4107f4603b48aa83e6ca5ea39aeaa43" role="button">Buy the book</a></p>
        		</div>
					  <div class="col-lg-4">
							<a href="https://www.amazon.com/gp/product/0310282926/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0310282926&linkCode=as2&tag=jeffreywest-20&linkId=c4107f4603b48aa83e6ca5ea39aeaa43">
							  	<img class="card-img-top book" src="{{ '/img/books/book2.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Book 2 image">
							</a>	
					  </div>
	      	</div>
	      </div>
      </div>
    </div>
    <div class="carousel-item">
	    <div class="container">
	      <div class="carousel-caption text-left">
		      <div class="row">
					  <div class="col-lg-8">
						  <h2>Letters to a romantic on engagement</h2>						  
			        <h4>Sean Perron and Spencer Harmon</h4>
			        <p>"Turning to God's Word for answers, Sean and Spencer have written you short letters full of biblical, practical wisdom. Direct and to the point, they cover topics ranging from the details of wedding planning to the big picture of your future lifelong relationship. Find clarity amid engagement and come to your marriage prepared!"</p>
							<p><a class="btn btn-lg btn-buy" href="https://www.amazon.com/gp/product/1629953075/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1629953075&linkCode=as2&tag=jeffreywest-20&linkId=f2823a900ab7895680911ad1c43a7084" role="button">Buy the book</a></p>
        		</div>
					  <div class="col-lg-4">
							<a href="https://www.amazon.com/gp/product/1629953075/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1629953075&linkCode=as2&tag=jeffreywest-20&linkId=f2823a900ab7895680911ad1c43a7084">
							  	<img class="card-img-top book" src="{{ '/img/books/book3.png' | prepend: site.baseurl | replace: '//', '/' }}" alt="Book 3 image">
							</a>	
					  </div>
	      	</div>
	      </div>
      </div>
    </div>
-->
  </div>
<!--
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
-->
</div>
<div id="amzn-assoc-ad-c54358a1-434b-40fb-aa09-f120370bf5aa"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=c54358a1-434b-40fb-aa09-f120370bf5aa"></script>